*{
    padding: 0;
    margin: 0;
    
}

body{
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

.learn{
    text-align: center;
    /* width: 120px; */
    background-color: rgb(0,113,227);
    padding:12px 23px;
    border-radius: 20px;
    font-size: 16px;
}

.buy{
    border-radius: 20px;
    font-size: 16px;
    padding: 10px 20px;
    border: rgb(0,113,227) solid 1px;
    color: rgb(43,136,226);
}

.buy:hover{
    background-color: rgb(0,113,227);
    color: white;
}

header{
    background-color: rgb(24,24,24);
    /* position:fixed; */
    /* top:0px; */
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }


header nav ul{
    display: flex;
    width:65%;
    margin:0 auto;
    justify-content: space-between;
    list-style: none;
    
}


header nav ul li{
    padding: 10px;
}


header li img{
    /* mix-blend-mode: ; */
    width: 15px;
}


header a{
    color: rgb(185,185,185);
    opacity: 0.8;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}


header a:hover{
    color: rgb(255, 255, 255,0.7);
    opacity: 1;
}

/* =================================end header========================================================================== */

#full-img-main-wrapper-section a img{
    height: 80vh;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

#full-img-main-wrapper-section #three-wrapper a{
    color: white;
    text-decoration: none;
}


.sec1-main-wrapper #three-wrapper,
.sec2-main-wrapper #three-wrapper{
    text-align: center;
}

#full-img-main-wrapper-section #three-wrapper h1{
    font-size: 55px;
    margin-bottom: 10px;
}

#three-wrapper h3{
    font-size: 25px;
    margin-bottom: 20px;
}

#three-wrapper ul{
    display: flex;
    gap: 30px;
    padding-left: 30px;
}


#three-wrapper ul li{
    list-style: none;
}

.sec1-main-wrapper{
    position: relative;
}

.sec1-main-wrapper #three-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
}


/* ============================================================================= */

.sec2-main-wrapper{
    position: relative;
}

.sec2-main-wrapper #three-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
}

.sec2-main-wrapper .learn{
    background-color: white;
    color: black;
}

.sec2-main-wrapper .buy{
    color: white;
    border: white solid 1px;
}

.sec2-main-wrapper .buy:hover{
    background-color: white;
    color: black;
}


.sec3-main-wrapper #three-wrapper img{
    margin-left: 20px;
    width: 250px;
    height: 100px;
    object-position: 0%;
    object-fit: none;
}


.sec3-main-wrapper{
    position: relative;
}

.sec3-main-wrapper #three-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3em;
}

.sec3-main-wrapper #three-wrapper  ul{
    margin-top: 20px;
}
/* =========================================================================================== */


#side-by-side-img-main-wrapper-section .flex-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#side-by-side-img-main-wrapper-section .left-half-img-wrapper,
#side-by-side-img-main-wrapper-section .right-half-img-wrapper{
    margin: 5px;
}

#side-by-side-img-main-wrapper-section .flex-section img{
    height: 80vh;
    object-position: center;
    object-fit: cover;
}


#side-by-side-img-main-wrapper-section .left-half-img-wrapper,
#side-by-side-img-main-wrapper-section .right-half-img-wrapper{
    position: relative;
}

#side-by-side-img-main-wrapper-section .left-half-img-wrapper #three-wrapper,
#side-by-side-img-main-wrapper-section .right-half-img-wrapper #three-wrapper{
    position: absolute;
    top: 2em;
    left: 50%;
    transform: translate(-50%);
}

#side-by-side-img-main-wrapper-section .sec4-main-wrapper .left-half-img-wrapper , 
#side-by-side-img-main-wrapper-section .sec5-main-wrapper .right-half-img-wrapper{
    position: relative;
}

#side-by-side-img-main-wrapper-section .sec4-main-wrapper .left-half-img-wrapper #three-wrapper,
#side-by-side-img-main-wrapper-section .sec5-main-wrapper .right-half-img-wrapper #three-wrapper{
    position: absolute ;
    top: 25em ;
    margin-top: 20px;
    
}

#side-by-side-img-main-wrapper-section a h1{
    font-size: 35px;
}
#side-by-side-img-main-wrapper-section h2{

}


.sec5-main-wrapper .right-half-img-wrapper #three-wrapper a h1,
.sec5-main-wrapper .right-half-img-wrapper #three-wrapper a p{
    color: white;
}


.right-half-img-wrapper #three-wrapper, .left-half-img-wrapper #three-wrapper a{
    text-decoration: none;
}


.sec4-main-wrapper #three-wrapper a,
.sec5-main-wrapper .left-half-img-wrapper #three-wrapper a,
.sec6-main-wrapper  #three-wrapper a{
    color: black;
}

#side-by-side-img-main-wrapper-section #three-wrapper h1,
#side-by-side-img-main-wrapper-section #three-wrapper p,
#side-by-side-img-main-wrapper-section #three-wrapper ul li{
    margin-bottom: 5px;
}

#side-by-side-img-main-wrapper-section #three-wrapper p{
    font-size: 20px;
    font-weight: 500;
}

#side-by-side-img-main-wrapper-section  .last{
    text-align-last: center;
}

#side-by-side-img-main-wrapper-section ul .last{
    margin-left: 30px;
}

#side-by-side-img-main-wrapper-section .sec4-main-wrapper ul .last{
    margin-left: 90px;
}

#side-by-side-img-main-wrapper-section .sec5-main-wrapper .left-half-img-wrapper #three-wrapper a img{
    width: 170px;
    height: 37px;
    margin-left: 70px;
}

#side-by-side-img-main-wrapper-section #three-wrapper ul a  .learn{
    text-align: center;
    background-color: rgb(0,113,227);
    padding:10px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
}

#side-by-side-img-main-wrapper-section #three-wrapper ul a .buy{
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 20px;
    border: rgb(0,113,227) solid 1px;
    color: rgb(43,136,226);
}

#side-by-side-img-main-wrapper-section #three-wrapper ul a .buy:hover{
    
        background-color: rgb(0,113,227);
        color: white;
    
}